/* GLOBAL STYLE */
body {
    margin: 0;
    background: linear-gradient(to bottom, #ffa86a, #ffe4d1);
    font-family: "Poppins", sans-serif;
    text-align: center;
}

/* HEADER */
header {
    padding: 25px;
    background: #ff7a2f;
    color: white;
    border-radius: 0 0 25px 25px;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: 700;
}

.tagline {
    font-size: 1.2rem;
    margin-top: 8px;
}

/* SEARCH BAR */
#searchBar {
    margin-top: 15px;
    padding: 12px 20px;
    width: 60%;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
}

/* GRID */
.menu-grid {
    margin: 40px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

/* CARD */
.card {
    background: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 15px;
}

.card h3 {
    margin-top: 15px;
    color: #ff6a00;
    font-size: 1.4rem;
}

.price {
    color: #333;
    font-weight: 600;
    margin-top: 5px;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.popup-content {
    background: white;
    width: 350px;
    padding: 25px;
    margin: 15% auto;
    border-radius: 15px;
    text-align: left;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 25px;
}

